[user]
	name = yshenfab
	email = yshenfab@gmail.com
[core]
	editor = nvim
	excludesFile = ~/.gitignore
	pager =
[pull]
	rebase = true
	; ff = only
[push]
	default = current

[commit]
	gpgsign = true
[gpg]
	program = gpg
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	; hist = log --oneline --graph
	; hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	type = cat-file -t
	dump = cat-file -p
	psm = push origin HEAD:master
	pmain = push origin HEAD:main
	pdev = push -u origin dev
[color]
	ui = true
[pager]
	branch = false
[credential]
	helper = store
[http]
	sslBackend = openssl
	sslVerify = false
        ; proxy = 127.0.0.1:7890
[https]
        ; proxy = 127.0.0.1:7890
